<h1>My Serverless Book Functions</h1>
<h2>Ronnie Conlon - S00200671</h2>
<ul>
  <li *ngFor="let book of MyBooks">
    <button class="btn" (click)="deleteBook(book.id)">Delete Book</button>
    {{book.id}} - {{book.title}} - {{book.author}}
  </li>
</ul>

<div>
  <form (ngSubmit)="addBook()">
    <div class="form-group">
      <label for="title">Book Title</label>
      <input type="text" class="form-control" placeholder="Enter title" id="title" required
      [(ngModel)]="titleValue" name="title" />
    </div>
    <div class="form-group">
      <label for="author">Book Author</label>
      <input type="text" class="form-control" placeholder="Enter author" id="author" required
      [(ngModel)]="authorValue" name="author" />
    </div>
    <div class="btn-group">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </form>
</div>

